body{
    padding: 2%;
    display: flex;
    flex-direction: row;
    
}
.first,.second{
    width: 33%;
}
.main{
    width: 40%;
    display: flex;
    flex-direction: column;
}
.display input{
    width: 80%;
    padding: 10%;
    font-size: 200%;
}
.inputs{
    margin: 2%;
    display: grid;
    grid-template-columns: 60% 40%;
}
button{
    padding: 10%;
    background-color: deepskyblue;
    border-radius: 5px;
    margin: 2%;
    border: 1px solid brown;
}
.oper{
    display: grid;
    grid-template-rows:30% 70%; 
}