.inputs{
margin-top: 5%;
}
.operators{
    margin-top: 1%;
}
.cal1{
    margin-left: 2%;
}
.history{
    margin-top: 3%;
}
*{
    font-family: Verdana, Geneva, Tahoma, sans-serif
}
li{
    font-size: 20px;
}